<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamplayer">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityDetailsAfterSearch" />
        <activity android:name=".participants_Items" />
        <activity
            android:name=".requestItem"
            android:label="@string/title_activity_request_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_details"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_view_group" />
        <activity android:name=".sport_type" />
        <activity android:name=".city" />
        <activity android:name=".age_range" />
        <activity android:name=".registration"
            android:parentActivityName=".activity_Login"/>
        <activity android:name=".activity_Search"
            android:parentActivityName=".select_action"/>
        <activity android:name=".activity_create_new"
            android:parentActivityName=".select_action"/>
        <activity android:name=".user_activities"
            android:parentActivityName=".select_action"/>
        <activity android:name=".manager" />
        <activity android:name=".group" />
        <activity android:name=".select_action"
            android:parentActivityName=".activity_Login"/>
        <activity android:name=".search_result"
            android:parentActivityName=".activity_Search"/>
        <activity android:name=".requests"
            android:parentActivityName=".manager"/>
        <activity android:name=".no_result"
            android:parentActivityName=".activity_Search"/>
        <activity android:name=".chat" />
        <activity android:name=".activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>