<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_Search"></activity>
        <activity android:name=".activity_Login" />
        <activity android:name=".activity_create_new" />
        <activity android:name=".user_activities" />
        <activity android:name=".manager" />
        <activity android:name=".group" />
        <activity android:name=".select_action" />
        <activity android:name=".search_result" />
        <activity android:name=".requests" />
        <activity android:name=".no_result" />
        <activity android:name=".chat" />
        <activity android:name=".registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>